
# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
.pnpm/
.cache/

# Output folders
dist/
build/
test-results/
playwright-report/
allure-report/

# Env files
.env*
!.env.example

# VSCode settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# GitHub Actions artifacts
*.tgz

# Optional Playwright artifacts
*.zip
*.trace
